### Secrets ###
config/secrets.yml
config/database.yml
config/settings/local.rb
config/settings/*_resources.rb

.npmrc
.rspec-local
.bundle
.yardoc
db/*.sqlite3
*\.AppleDouble
log
tmp/
tmp/**/*
tmp/*
*.log
doc/api
doc/app
*.swp
*.swo
.apdisk
*~
.DS_Store
._*
.host_ip
tags
gems.tags
.sass-cache
upload
public/**/*
node_modules
coverage/
client/coverage/
docs/
doc/
.swn
.idea/
pack-out
package-lock.json
public-new
.env
shared/
.bash_history
.cache/
.local/
.pki/
.v8flags.*
.git/